pandas
cooler
pyfaidx
pyBigWig
lightning
lightning-bolts
torch
torchvision
torchaudio
ledidi
transformers==4.50.0
peft==0.17.0
matplotlib
captum
modisco-lite
einops
ipympl
enformer_pytorch
borzoi-pytorch
